<div class="content-panel">
    <div class="col-md-12 content-panel">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span >导出索引</span>
                    </h4>
                </div>
                <div>
                    <div class="panel-body">
                        <div class="row" style="padding-top: 8px;padding-bottom: 2px">
                            <div class="col-xs-4">
                                <div id="export-index-combobox"></div>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-primary sm" ng-click='exportIndex()' style="">导出</button>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 8px;padding-bottom: 2px">
                            <div class="col-xs-6" style="margin-top: 15px">
                                <div id="index_define_table" ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <span class="pull-right">
                        <a id="exportIndex" data-toggle="modal" href="#confirm_dialog" class="btn btn-primary input-sm hide" target="_self">提交</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

