<style>
    .jqx-widget-content-metrodark {
        font-size: 13px;
        color: #d0d0d0;
        background-color: #252526;
    }
</style>
<div class="container-fluid" style="height: 1800px;" >
    <div class="row" style="height: 85%;">
        <iframe  width="100%" height="100%"
        src="http://10.212.0.181:3000/dashboard/db/jian-kong?orgId=1&from=1513238465584&to=1513249265584&var-clusterName=ucar_4app&var-host=10.204.58.77"
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>

