<style>
	.wjl-font{
		font-size: 21px;
	}
</style>
 
<div class="row" class="overview-stats" style="padding-bottom: 20px;" ng-controller="ClusterStatsController">
  <div class="col-lg-5ths col-md-3 col-sm-6 col-xs-12">
    <div class="stat-block bordered">
      <span class="tooltiped" data-placement="bottom" title="undistributed shards">
        <span class="cluster-map-stat-description">未分配的分片</span>
        <span class="cluster-map-stat-number">{{cluster.unassigned_shards | number:0}}</span>
      </span>
    </div>
  </div>
  <div class="col-lg-5ths col-md-3 col-sm-6 col-xs-12">
    <div class="stat-block bordered">
      <span class="tooltiped" data-placement="bottom" title="moving shards">
      <span class="cluster-map-stat-description">正迁移的分片</span>
        <span class="cluster-map-stat-number">{{cluster.relocating_shards | number:0}}</span>
      </span>
    </div>
  </div>
  <div class="col-lg-5ths col-md-3 col-sm-6 col-xs-12">
    <div class="stat-block bordered">
      <span class="tooltiped" data-placement="bottom" title="initializing shards">
        <span class="cluster-map-stat-description">正初始化的分片</span>
        <span class="cluster-map-stat-number">{{cluster.initializing_shards | number:0}}</span>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <div class="row">
      <div class="col-lg-3 col-sm-6  cluster-overview-filter">
        <input type="text" ng-model="filter.name" class="form-control input-sm" placeholder="filter nodes by name">
      </div>
      <div class="col-lg-4 col-sm-6 cluster-overview-filter cluster-map-node-types">
        <div class="row">
          <div class="col-xs-4 cluster-map-node-type" data-toggle="tooltip" data-placement="bottom" title="display master nodes">
            <input type="checkbox" ng-model="filter.master">
            <i class="fa fa-star-o node-type-icon"></i> master
          </div>
          <div class="col-xs-4 cluster-map-node-type" data-toggle="tooltip" data-placement="bottom" title="display data nodes">
            <input type="checkbox" ng-model="filter.data">
            <i class="fa fa-hdd-o node-type-icon"></i> data
          </div>
          <div class="col-xs-4 cluster-map-node-type" data-toggle="tooltip" data-placement="bottom" title="display client nodes">
            <input type="checkbox" ng-model="filter.client">
            <i class="fa fa-search node-type-icon"></i> client
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered table-condensed table-rounded overview">
  <thead>
    <th class="table-header box">
      <ng-sort-by property="name" text="节点名称"></ng-sort-by>
    </th>
     <th class="table-header box">
      <ng-sort-by property="uptime" text="运行时间"></ng-sort-by>
    </th>
    <th class="table-header box">
      <ng-sort-by property="state" text="当前状态"></ng-sort-by>
    </th>
    <th class="table-header box">
      <ng-sort-by property="shard_count" text="分片数量"></ng-sort-by>
    </th>
    <th class="table-header box">
      <ng-sort-by property="ops" text="操作"></ng-sort-by>
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="node in myNodes | orderBy:sortBy:reverse track by $index">
      <td class="box">
        <div class="node-badges">
          <div ng-show="node.master">
            <i ng-show="node.current_master" class="fa fa-fw fa-star" title="current master"></i>
            <i ng-show="!node.current_master" class="fa fa-fw fa-star-o" title="master eligible"></i>
          </div>
          <div ng-show="node.data">
            <i class="fa fa-fw fa-hdd-o" title="data node"></i>
          </div>
          <div ng-show="node.client">
            <i class="fa fa-fw fa-search" title="client node"></i>
          </div>
        </div>
        <div class="node-info">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#" target="_self" class="cluster-map-header-index-name">
              <i class="fa fa-fw fa-caret-down pull-right"></i>
              <span class="cluster-map-header-index-name">{{node.name}} </span>
            </a>
            <ul class="dropdown-menu index-dropdown" role="menu">
              <li role="presentation">
                <a data-toggle="modal" class="cluster-map-header-index-action" ng-click="showNodeStats(node.id)">
                  <i class="fa fa-fw fa-info-circle index-menu-icon"></i> 查看节点详情
                </a>
              </li>
            </ul>
          </div>
          <div>
            <span class="cluster-map-node-detail">{{node.host}}</span>
          </div>
      <!--<div>
            <span class="cluster-map-node-detail">{{node.transportAddress}}</span>
          </div> -->
        </div>
       <!-- <div class="node-labels">
          <span class="node-label label-primary">JVM: {{node.jvmVersion}}</span>
          <span class="node-label label-primary">ES: {{node.elasticVersion}}</span>
        </div>  -->
      </td>
      <td>
        <div>
          <span class="node-stat wjl-font">
            {{node.uptime | timeInterval}}
          </span>
          <span class="node-stat-detail">
          </span>
        </div>
      </td>
      <td>
        <div ng-show="node.state ">
          <span class="node-stat wjl-font">
            	离线
          </span>
          <span class="node-stat-detail">
            <div></div>
            <div></div>
          </span>
        </div>
        <div ng-hide="node.state ">
          <span class="node-stat wjl-font">
            	在线
          </span>
        </div>
      </td>
      <td>
        <div>
          <span class="node-stat wjl-font">
            {{node.shardCount | number:0}}
          </span>
        </div>
      </td>
      <td>
         <button type="button" class="btn btn-primary navbar-cluster-status-green" style="border-color: #363636" ng-click="dotask(node.host,node.state,'start')">
               <span style="word-spacing: 5px;">启&nbsp;动</span>
         </button>
          <button type="button" class="btn btn-primary navbar-cluster-status-green" style="border-color: #363636" ng-click="dotask(node.host,node.state,'stop')">
               <span style="word-spacing: 5px;">停&nbsp;止</span>
         </button>
      </td>
    </tr>
  </tbody>
</table>
<div id="jqxLoader"></div>
